.high_text {
	background-color: #ffff33;
}

.pagination-sm .page-link {
	width: 28px;
	padding: 2px 1px;
}

.row {
	margin: 0px 0px;
}

.prop-heading {
	font-size: 13px;
	font-weight: bold;
}
.prop-body {
	font-size: 12px;
	font-style: italic;
	text-indent: 20px;
}

.card-header {
	padding: 6px 8px;
}

.card-body {
	padding: 6px;
}

.list-group-item {
	border-color: transparent;
}

.fav-btn {
	font-size: 1.25rem;
	padding: 0px 6px;
	opacity: 0.2;
	border: none;
	outline: none;
	background-color: transparent;
}
.fav-btn:focus {
	outline: none;
}
.fav-btn:hover {
	opacity: 0.8;
}
.fav-btn.fav-btn-active {
	opacity: 1;
}
.fav-btn-active {
	color: #ffc61a;
	outline: 2px black;
	opacity: 1;
}
.copy-btn,
.copy-btn:focus {
	font-size: 1.25rem;
	padding: 0px 12px;
	padding-bottom: 3px;
	border: none;
	outline: none;
	background-color: transparent;
}

td {
	word-break: break-all;
}
